.Message {
  position: static;
  .post-content {
    padding: 0 2rem 0 2rem;
  }
}

.Message-content {
  margin-top: 45px !important;
  height: calc(100% - 45px);
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .Message {
    position: static;
    .Message-content {
      margin: 0;
      overflow: hidden;
      margin-top: 39px !important;
    }
  }
}
