.Setting {
  width: 70% !important;
  height: 80% !important;
  overflow: hidden !important;
}

.Setting-container {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: all 0.75s ease-out;
}

.Setting-icons {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  transition: all 0.75s ease-out;
}

.Setting-icon {
  width: 10rem;
  margin: 0 2rem;
}

.Setting-description {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-family: "NanumSquare", "Segoe UI", Sans-Serif;
  color: #6c6c6c;
  transition: all 0.75s ease-out;
}

.Setting-developer {
  margin-top: 1rem;
  font-size: 1.4rem;
  a {
    display: inline-block;
    color: #1d6fbb;
    background-color: #ecf0f2;
    padding: 2px 6px;
    border-radius: 8px;
    font-weight: bolder;
    animation: flutter 1.2s infinite;
  }
  transition: all 0.75s ease-out;
}

.Setting-license {
  width: 100%;
  bottom: 2rem;
  font-size: 1.1rem;
  text-align: right;
  margin-top: 1rem;
  color: #747d8b;
  font-weight: 300;
  width: 90%;
  padding: 1rem 0;
  transition: all 0.75s ease-out;
  border-bottom: 1px solid #cdcdcd;
}

.containerAnimated {
  border: 1px solid #cdcdcd;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2);
  transform: translateZ(150px);
}

.iconsAnimated {
  transform: translateZ(175px);
}

.descriptionAnimated {
  transform: translateZ(150px);
}

.aboutAnimated {
  transform: translateZ(160px);
}

.lisenceAnimated {
  transform: translateZ(150px);
}

@media (max-width: 600px) {
  .Setting {
    width: 90% !important;
    height: 80% !important;
    overflow: scroll !important;
  }
  .Setting-icons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Setting-icon {
    width: 7rem;
    margin: 1rem 0;
  }
  .Setting-description {
    font-size: 1.2rem;
  }
  .Setting-developer {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
  .Setting-license {
    position: static;
    font-size: 0.88rem;
    text-align: right;
    width: 100%;
  }
}

@keyframes pump {
  50% {
    transform: scale(1.06);
  }
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(7deg);
  }
  66% {
    transform: rotate(-7deg);
  }
  90% {
    transform: rotate(0deg);
  }
}
