.Terminal {
  overflow-y: hidden !important;
}

.Terminal-content {
  padding: 0 !important;
  margin: 0 0 !important;
  margin-top: 45px !important;
  height: 100% !important;
  overflow-y: unset;
}
.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  margin: 0 auto;
}

.line-container {
  padding-top: 40px;
  position: absolute;
  left: 50px;

  p {
    text-align: left;
    width: 300px;
    font-size: 1.25em;
    font-family: monospace;
    white-space: normal;
    overflow: hidden;
    width: 0;
  }
}

@media (max-width: 768px) {
  .line-container {
    padding-top: 25px;
    position: absolute;
    left: 20px;
    p {
      font-size: 12px;
    }
  }
  .Terminal-content {
    margin-top: 35px !important;
  }
}

.line1 {
  color: #cbe1e9;
  overflow: hidden;
  width: 0%;
  height: 2rem;
  -webkit-animation: type 3s 1s steps(20, end) forwards;
  -moz-animation: type 3s 1s steps(20, end) forwards;
  -o-animation: type 3s 1s steps(20, end) forwards;
  animation: type 3s 1s steps(20, end) forwards;
}

.login {
  color: #cbe1e9;
  height: 2rem;
  width: 50rem !important;
}

.git-add {
  color: #cbe1e9;
  width: 0%;
  height: 2rem;
  -webkit-animation: type 3s 1s ease-in-out forwards;
  -moz-animation: type 3s 1s ease-in-out forwards;
  -o-animation: type 3s 1s ease-in-out forwards;
  animation: type 3s 1s ease-in-out forwards;
}

.git-commit {
  color: #cbe1e9;
  width: 0%;
  height: 2rem;
  -webkit-animation: type 3s 3s ease-in-out forwards;
  -moz-animation: type 3s 3s ease-in-out forwards;
  -o-animation: type 3s 3s ease-in-out forwards;
  animation: type 3s 3s ease-in-out forwards;
}

.commit-message {
  color: #ffffff;
  width: 50rem !important;
  height: 2rem;
  opacity: 0;
  animation: appear 1s 5s steps(1, end) forwards;
}

.cursor1 {
  -webkit-animation: blink 2s 2s 2 forwards;
  -moz-animation: blink 2s 2s 2 forwards;
  -o-animation: blink 2s 2s 2 forwards;
  animation: blink 2s 2s 2 forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type 0.5s 10.75s steps(20, end) forwards;
  -moz-animation: type 0.5s 10.75s steps(20, end) forwards;
  -o-animation: type 0.5s 10.75s steps(20, end) forwards;
  animation: type 0.5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 50rem;
  }
}

@-moz-keyframes type {
  to {
    width: 50rem;
  }
}

@-o-keyframes type {
  to {
    width: 50rem;
  }
}

@keyframes type {
  to {
    width: 50rem;
  }
}

@-webkit-keyframes appear {
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear {
  100% {
    opacity: 1;
  }
}

@-o-keyframes appear {
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  100% {
    opacity: 1;
  }
}
