.post-top {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: rgb(234, 229, 229);
  width: inherit;
  min-width: 800px;
  height: 3rem;
  position: fixed;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  z-index: 2;
}

.post-container {
  position: absolute;
  opacity: 0.98;
  width: 75%;
  min-width: 800px;
  height: 90%;
  background-color: white;
  border-radius: 12px;
  overflow-y: scroll;
  -webkit-box-shadow: -3px 17px 23px 1px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: -3px 17px 23px 1px rgba(0, 0, 0, 0.58);
  box-shadow: -3px 17px 23px 1px rgba(0, 0, 0, 0.58);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.blog-post {
  img {
    transition: 0.3s ease-out !important;
    max-width: 100%;
    border: 1px solid #cdcdcd;
    border-radius: 8px;
  }
  img:hover {
    transition: 0.3s ease-out !important;
    box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.4) !important;
  }
}

.post-container::-webkit-scrollbar {
  display: none;
}

.navigator {
  transition: 0.3s ease-in;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  background-color: white;
}

.navigator:hover {
  transition: 0.2s ease-in;
  background-color: #efefef;
}

@media only screen and (max-width: 600px) {
  .post-top {
    min-width: auto;
  }
  .post-container {
    width: 90%;
    min-width: auto;
  }
  .post-content {
    padding: 3rem 0.7rem 0.7rem 0.7rem;
    margin: 1.5rem;
  }
}
