.post-top {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: rgb(234, 229, 229);
  width: inherit;
  height: 3rem;
  position: fixed;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  z-index: 2;
}

